terratowns_endpoint="https://terratowns.cloud/api"
nature = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/nature"
    content_version = 1
}
food = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/food"
    content_version = 1
}
